@charset "UTF-8";
/*共通部分*/
body {
    font-family: Arial, sans-serif;
    background-color: #CFE5EF;
    margin: 0;
    padding: 0;
}
header {
    background-color: #305C70;
    font-weight:bold;
    color: #f08402;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
}
.align-center{
    text-align: center;
}
.page-header{
    display: flex;
    flex-flow: column;
    padding-top: 1.5rem;
}
img{
    margin-left:20px;
}
.aplication_title{
    margin-right:0px;
}
.aplication_title a:link, 
.aplication_title a:visited, 
.aplication_title a:hover, 
.aplication_title a:active {
    color: #f08402;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-links a {
    font-weight:normal;
    color: #F0E2D1;
    margin-left: 15px; /* 各リンクの間隔 */
}
.nav-links a:hover {
    text-decoration: underline;
}

/*デスクトップ*/
@media(min-width:860px){
    /*header*/
    .page-header{
        display: flex;
        justify-content: space-between;
        flex-flow: row;
        padding-top: 1.5rem;
    }
}