


body {
    font-family: Arial, sans-serif;
    background-color: #CFE5EF;
    margin: 0;
    padding: 0;
}

header {
    background-color: #305C70;
    font-weight:bold;
    color: #f08402;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
}
 img{
    margin-left:20px;
 }
.aplication_title{
    margin-right:0px;
}
.nav-links {
    margin-left: auto; /* 右寄せにする */
}

.nav-links a {
    font-weight:normal;
    color: #F0E2D1;
    text-decoration: none;
    margin-left: 15px; /* 各リンクの間隔 */
}
.nav-links a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
}
.button {
    display: block;
    margin: 20px 0;
    padding: 15px 20px;
    background-color: #28a745;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}
.button:hover {
    background-color: #218838;
}

.aplication_name {
    text-align: center;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    body {
        margin: 0;
        font-size: 14px;
    }
    .container {
        width: 90%;
        margin: 20px auto;
        padding: 15px;
    }
    .fsize {
        font-size: 1em;
    }
    input[type="text"], input[type="password"] {
        width: calc(100% - 20px);
        margin: 8px 0;
        padding: 10px;
        font-size: 0.9em;
    }
    button {
        font-size: 1em;
        padding: 10px;
    }
    .create-links {
        margin-top: 10px;
        font-size: 0.9em;
    }
  }
  
  @media (max-width: 480px) {
    .container {
        width: 100%;
        margin: 10px auto;
        padding: 10px;
    }
    input[type="text"], input[type="password"] {
        font-size: 0.8em;
    }
    button {
        font-size: 0.9em;
        padding: 8px;
    }
    .create-links {
        font-size: 0.8em;
    }
  }